parameters:
	ignoreErrors:
		-
			message: '#^Method App\\Http\\Controllers\\Admin\\DashboardController\:\:recentInvitations\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Http/Controllers/Admin/DashboardController.php

		-
			message: '#^Method App\\Http\\Controllers\\Admin\\DashboardController\:\:recentOrders\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Http/Controllers/Admin/DashboardController.php

		-
			message: '#^Method App\\Http\\Controllers\\Admin\\DashboardController\:\:recentWishes\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Http/Controllers/Admin/DashboardController.php

		-
			message: '#^Method App\\Http\\Controllers\\Admin\\DashboardController\:\:stats\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Http/Controllers/Admin/DashboardController.php

		-
			message: '#^Access to an undefined property App\\Models\\Theme\|Illuminate\\Database\\Eloquent\\Collection\<int, App\\Models\\Theme\>\:\:\$theme_category_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Admin/InvitationController.php

		-
			message: '#^Access to an undefined property App\\Models\\User\:\:\$accessible_theme_category_ids\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Admin/InvitationController.php

		-
			message: '#^Call to an undefined method App\\Models\\User\|Illuminate\\Database\\Eloquent\\Collection\<int, App\\Models\\User\>\:\:accessibleThemeCategories\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/Admin/InvitationController.php

		-
			message: '#^Access to an undefined property App\\Models\\User\|Illuminate\\Database\\Eloquent\\Collection\<int, App\\Models\\User\>\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Admin/ThemeCategoryAccessController.php

		-
			message: '#^Access to an undefined property App\\Models\\User\|Illuminate\\Database\\Eloquent\\Collection\<int, App\\Models\\User\>\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Admin/ThemeCategoryAccessController.php

		-
			message: '#^Call to an undefined method App\\Models\\User\|Illuminate\\Database\\Eloquent\\Collection\<int, App\\Models\\User\>\:\:isUser\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/Admin/ThemeCategoryAccessController.php

		-
			message: '#^Access to an undefined property App\\Models\\ThemeCategory\:\:\$access_user_ids\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Admin/ThemeController.php

		-
			message: '#^Method App\\Http\\Controllers\\Admin\\ThemeController\:\:validated\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Http/Controllers/Admin/ThemeController.php

		-
			message: '#^Unable to resolve the template type TKey in call to function collect$#'
			identifier: argument.templateType
			count: 2
			path: app/Http/Controllers/Admin/UserController.php

		-
			message: '#^Unable to resolve the template type TValue in call to function collect$#'
			identifier: argument.templateType
			count: 2
			path: app/Http/Controllers/Admin/UserController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:accessibleThemeCategories\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/Builder/BuilderController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$category\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Builder/CoupleEventController.php

		-
			message: '#^Using nullsafe property access "\?\-\>allow_custom_photos" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/Builder/CoupleEventController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Builder/DomainController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Builder/DomainController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$category\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Builder/GalleryController.php

		-
			message: '#^Access to an undefined property App\\Models\\Theme\|Illuminate\\Database\\Eloquent\\Collection\<int, App\\Models\\Theme\>\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Builder/ThemeDesignController.php

		-
			message: '#^Access to an undefined property App\\Models\\Theme\|Illuminate\\Database\\Eloquent\\Collection\<int, App\\Models\\Theme\>\:\:\$theme_category_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Builder/ThemeDesignController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$file_path\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/Builder/ThemeDesignController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:accessibleThemeCategories\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/Builder/ThemeDesignController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$component_key\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Public/InvitationPageController.php

		-
			message: '#^Using nullsafe property access "\?\-\>component_key" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/Public/InvitationPageController.php

		-
			message: '#^Method App\\Http\\Requests\\Auth\\LoginRequest\:\:rules\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Http/Requests/Auth/LoginRequest.php

		-
			message: '#^Method App\\Http\\Requests\\Builder\\CoupleEventRequest\:\:rules\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Http/Requests/Builder/CoupleRequest.php

		-
			message: '#^Class App\\Models\\Domain uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Domain.php

		-
			message: '#^Method App\\Models\\Domain\:\:histories\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Domain.php

		-
			message: '#^Method App\\Models\\Domain\:\:invitation\(\) should return Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<App\\Models\\Invitation, App\\Models\\Domain\> but returns Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<App\\Models\\Invitation, \$this\(App\\Models\\Domain\)\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/Domain.php

		-
			message: '#^Class App\\Models\\DomainHistory uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/DomainHistory.php

		-
			message: '#^Method App\\Models\\DomainHistory\:\:changedBy\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/DomainHistory.php

		-
			message: '#^Method App\\Models\\DomainHistory\:\:domain\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/DomainHistory.php

		-
			message: '#^Method App\\Models\\DomainHistory\:\:invitation\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/DomainHistory.php

		-
			message: '#^Cannot call method isPast\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Models/Invitation.php

		-
			message: '#^Class App\\Models\\Invitation uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Invitation.php

		-
			message: '#^Method App\\Models\\Invitation\:\:accounts\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Invitation.php

		-
			message: '#^Method App\\Models\\Invitation\:\:akad\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasOne does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Invitation.php

		-
			message: '#^Method App\\Models\\Invitation\:\:bride\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasOne does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Invitation.php

		-
			message: '#^Method App\\Models\\Invitation\:\:couples\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Invitation.php

		-
			message: '#^Method App\\Models\\Invitation\:\:coverPhotos\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Invitation.php

		-
			message: '#^Method App\\Models\\Invitation\:\:creator\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Invitation.php

		-
			message: '#^Method App\\Models\\Invitation\:\:domain\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasOne does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Invitation.php

		-
			message: '#^Method App\\Models\\Invitation\:\:domainHistories\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Invitation.php

		-
			message: '#^Method App\\Models\\Invitation\:\:events\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Invitation.php

		-
			message: '#^Method App\\Models\\Invitation\:\:galleries\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Invitation.php

		-
			message: '#^Method App\\Models\\Invitation\:\:giftAddress\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasOne does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Invitation.php

		-
			message: '#^Method App\\Models\\Invitation\:\:groom\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasOne does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Invitation.php

		-
			message: '#^Method App\\Models\\Invitation\:\:guests\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Invitation.php

		-
			message: '#^Method App\\Models\\Invitation\:\:loveStories\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Invitation.php

		-
			message: '#^Method App\\Models\\Invitation\:\:music\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasOne does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Invitation.php

		-
			message: '#^Method App\\Models\\Invitation\:\:orders\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Invitation.php

		-
			message: '#^Method App\\Models\\Invitation\:\:resepsi\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasOne does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Invitation.php

		-
			message: '#^Method App\\Models\\Invitation\:\:theme\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Invitation.php

		-
			message: '#^Method App\\Models\\Invitation\:\:user\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Invitation.php

		-
			message: '#^Method App\\Models\\Invitation\:\:wishes\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Invitation.php

		-
			message: '#^Class App\\Models\\InvitationAccount uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/InvitationAccount.php

		-
			message: '#^Method App\\Models\\InvitationAccount\:\:invitation\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/InvitationAccount.php

		-
			message: '#^Class App\\Models\\InvitationCouple uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/InvitationCouple.php

		-
			message: '#^Method App\\Models\\InvitationCouple\:\:invitation\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/InvitationCouple.php

		-
			message: '#^Class App\\Models\\InvitationEvent uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/InvitationEvent.php

		-
			message: '#^Method App\\Models\\InvitationEvent\:\:invitation\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/InvitationEvent.php

		-
			message: '#^Class App\\Models\\InvitationGallery uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/InvitationGallery.php

		-
			message: '#^Method App\\Models\\InvitationGallery\:\:invitation\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/InvitationGallery.php

		-
			message: '#^Class App\\Models\\InvitationGiftAddress uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/InvitationGiftAddress.php

		-
			message: '#^Method App\\Models\\InvitationGiftAddress\:\:invitation\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/InvitationGiftAddress.php

		-
			message: '#^Class App\\Models\\InvitationGuest uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/InvitationGuest.php

		-
			message: '#^Method App\\Models\\InvitationGuest\:\:invitation\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/InvitationGuest.php

		-
			message: '#^Method App\\Models\\InvitationGuest\:\:wishes\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/InvitationGuest.php

		-
			message: '#^Class App\\Models\\InvitationLoveStory uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/InvitationLoveStory.php

		-
			message: '#^Method App\\Models\\InvitationLoveStory\:\:invitation\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/InvitationLoveStory.php

		-
			message: '#^Class App\\Models\\InvitationMusic uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/InvitationMusic.php

		-
			message: '#^Method App\\Models\\InvitationMusic\:\:invitation\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/InvitationMusic.php

		-
			message: '#^Class App\\Models\\InvitationWish uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/InvitationWish.php

		-
			message: '#^Method App\\Models\\InvitationWish\:\:guest\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/InvitationWish.php

		-
			message: '#^Method App\\Models\\InvitationWish\:\:invitation\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/InvitationWish.php

		-
			message: '#^Class App\\Models\\Order uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Order.php

		-
			message: '#^Method App\\Models\\Order\:\:handledBy\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Order.php

		-
			message: '#^Method App\\Models\\Order\:\:invitation\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Order.php

		-
			message: '#^Method App\\Models\\Order\:\:themeCategory\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Order.php

		-
			message: '#^Method App\\Models\\Order\:\:user\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Order.php

		-
			message: '#^Class App\\Models\\Theme uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Theme.php

		-
			message: '#^Method App\\Models\\Theme\:\:category\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Theme.php

		-
			message: '#^Method App\\Models\\Theme\:\:invitations\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Theme.php

		-
			message: '#^Class App\\Models\\ThemeCategory uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/ThemeCategory.php

		-
			message: '#^Method App\\Models\\ThemeCategory\:\:orders\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/ThemeCategory.php

		-
			message: '#^Method App\\Models\\ThemeCategory\:\:themes\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/ThemeCategory.php

		-
			message: '#^Method App\\Models\\ThemeCategory\:\:usersWithAccess\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany does not specify its types\: TRelatedModel, TDeclaringModel, TPivotModel, TAccessor \(2\-4 required\)$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/ThemeCategory.php

		-
			message: '#^Class App\\Models\\ThemeCategoryUser uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/ThemeCategoryUser.php

		-
			message: '#^Method App\\Models\\ThemeCategoryUser\:\:grantedBy\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/ThemeCategoryUser.php

		-
			message: '#^Method App\\Models\\ThemeCategoryUser\:\:themeCategory\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/ThemeCategoryUser.php

		-
			message: '#^Method App\\Models\\ThemeCategoryUser\:\:user\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/ThemeCategoryUser.php

		-
			message: '#^Class App\\Models\\User uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/User.php

		-
			message: '#^Method App\\Models\\User\:\:accessibleThemeCategories\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany does not specify its types\: TRelatedModel, TDeclaringModel, TPivotModel, TAccessor \(2\-4 required\)$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/User.php

		-
			message: '#^Method App\\Models\\User\:\:accessibleThemes\(\) return type with generic class Illuminate\\Support\\Collection does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/User.php

		-
			message: '#^Method App\\Models\\User\:\:createdInvitations\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/User.php

		-
			message: '#^Method App\\Models\\User\:\:grantedThemeCategoryAccess\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/User.php

		-
			message: '#^Method App\\Models\\User\:\:handledOrders\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/User.php

		-
			message: '#^Method App\\Models\\User\:\:invitations\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/User.php

		-
			message: '#^Method App\\Models\\User\:\:orders\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/User.php
